* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(155,226,248);
    padding: 10px;

}
footer{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
}
header{
    background-color:rgb(155,226,248);
       /* Enable flex mode. */
       display: flex;
       /* Spread out the elements inside the header. */
       justify-content: center;
       /* Align items vertically in the center. */
       align-items: center;
}

div{
    display: grid;
    grid-template-columns: 40% 30% 30%;
}
section{
    grid-column: 1/3;
    background-color: rgb(255, 255, 255);
    color: rgb(13, 12, 14);
    padding: 3em;
}

#img-center{
    display: b;
    margin-left: auto;
    margin-right: auto;
}

aside{
    grid-column: 3/4;
    background-color: rgb(155,226,248);
    padding: 20px;
}

/* MENU */

.menu-area a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background:rgb(252, 47, 47);
    height: 35px;
 
}

.menu-area a:hover {
    background:rgba(0, 214, 221, 0.452);
    color: rgb(34, 34, 34);

}

.menu-area ul {
    list-style: none;
    display: flex;
}

.menu-area li {
    position: relative;
    width: 100%;
    text-align: center;
}

.menu-area li:hover .dropdown-1>li {
    top: 0;
    display: block;
}

.dropdown-1 li {
    display: none;
    position: relative;
}

.dropdown-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdown-1 li:hover {
    display: block;
} 

.p{
    text-align: justify;
}

#pdf{
    margin-left: 100px;
}